<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add a new book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<table>
				<tbody>
					<tr><td>Title: </td><td><input type="text" th:field="${book.title}" /></td></tr>
					<tr><td>Author: </td><td><input type="text" th:field="${book.author}"/></td></tr>
					<tr><td>Year: </td><td><input type="text" th:field="${book.year}" /></td></tr>
					<tr><td>ISBN: </td><td><input type="text" th:field="${book.isbn}" /></td></tr>
				
				</tbody>
			</table>
			<input type="submit" value="Save"/>
		</form>
	</div>
</body>
</html>